adf-capstone01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-capstone01"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://capstone01.dfs.core.windows.net/"
		},
		"AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0727-121547-4o8a48ev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeDatabricks')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "IR to use databricks environment for the analytical purpose",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Yearly data for flights arrival and departure",
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year": {
						"type": "string",
						"defaultValue": "1988"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().year, '.csv')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "DepTime",
						"type": "String"
					},
					{
						"name": "CRSDepTime",
						"type": "String"
					},
					{
						"name": "ArrTime",
						"type": "String"
					},
					{
						"name": "CRSArrTime",
						"type": "String"
					},
					{
						"name": "UniqueCarrier",
						"type": "String"
					},
					{
						"name": "FlightNum",
						"type": "String"
					},
					{
						"name": "TailNum",
						"type": "String"
					},
					{
						"name": "ActualElapsedTime",
						"type": "String"
					},
					{
						"name": "CRSElapsedTime",
						"type": "String"
					},
					{
						"name": "AirTime",
						"type": "String"
					},
					{
						"name": "ArrDelay",
						"type": "String"
					},
					{
						"name": "DepDelay",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "TaxiIn",
						"type": "String"
					},
					{
						"name": "TaxiOut",
						"type": "String"
					},
					{
						"name": "Cancelled",
						"type": "String"
					},
					{
						"name": "CancellationCode",
						"type": "String"
					},
					{
						"name": "Diverted",
						"type": "String"
					},
					{
						"name": "CarrierDelay",
						"type": "String"
					},
					{
						"name": "WeatherDelay",
						"type": "String"
					},
					{
						"name": "NASDelay",
						"type": "String"
					},
					{
						"name": "SecurityDelay",
						"type": "String"
					},
					{
						"name": "LateAircraftDelay",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Airports')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Airports and it's location with city and country",
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "airports.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "iata",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "lat",
						"type": "String"
					},
					{
						"name": "long",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Careers_details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Details for airline careers",
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "carriers.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CleanAirlineData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "airline_data",
						"fileSystem": "clean-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Landing_zone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					},
					{
						"name": "Prop_4",
						"type": "UTF8"
					},
					{
						"name": "Prop_5",
						"type": "UTF8"
					},
					{
						"name": "Prop_6",
						"type": "UTF8"
					},
					{
						"name": "Prop_7",
						"type": "UTF8"
					},
					{
						"name": "Prop_8",
						"type": "UTF8"
					},
					{
						"name": "Prop_9",
						"type": "UTF8"
					},
					{
						"name": "Prop_10",
						"type": "UTF8"
					},
					{
						"name": "Prop_11",
						"type": "UTF8"
					},
					{
						"name": "Prop_12",
						"type": "UTF8"
					},
					{
						"name": "Prop_13",
						"type": "UTF8"
					},
					{
						"name": "Prop_14",
						"type": "UTF8"
					},
					{
						"name": "Prop_15",
						"type": "UTF8"
					},
					{
						"name": "Prop_16",
						"type": "UTF8"
					},
					{
						"name": "Prop_17",
						"type": "UTF8"
					},
					{
						"name": "Prop_18",
						"type": "UTF8"
					},
					{
						"name": "Prop_19",
						"type": "UTF8"
					},
					{
						"name": "Prop_20",
						"type": "UTF8"
					},
					{
						"name": "Prop_21",
						"type": "UTF8"
					},
					{
						"name": "Prop_22",
						"type": "UTF8"
					},
					{
						"name": "Prop_23",
						"type": "UTF8"
					},
					{
						"name": "Prop_24",
						"type": "UTF8"
					},
					{
						"name": "Prop_25",
						"type": "UTF8"
					},
					{
						"name": "Prop_26",
						"type": "UTF8"
					},
					{
						"name": "Prop_27",
						"type": "UTF8"
					},
					{
						"name": "Prop_28",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_flight_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "flight_details",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plane_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "plane-data.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "tailnum",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "manufacturer",
						"type": "String"
					},
					{
						"name": "issue_date",
						"type": "String"
					},
					{
						"name": "model",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "aircraft_type",
						"type": "String"
					},
					{
						"name": "engine_type",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "DepTime",
						"type": "String"
					},
					{
						"name": "CRSDepTime",
						"type": "String"
					},
					{
						"name": "ArrTime",
						"type": "String"
					},
					{
						"name": "CRSArrTime",
						"type": "String"
					},
					{
						"name": "UniqueCarrier",
						"type": "String"
					},
					{
						"name": "FlightNum",
						"type": "String"
					},
					{
						"name": "TailNum",
						"type": "String"
					},
					{
						"name": "ActualElapsedTime",
						"type": "String"
					},
					{
						"name": "CRSElapsedTime",
						"type": "String"
					},
					{
						"name": "AirTime",
						"type": "String"
					},
					{
						"name": "ArrDelay",
						"type": "String"
					},
					{
						"name": "DepDelay",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "TaxiIn",
						"type": "String"
					},
					{
						"name": "TaxiOut",
						"type": "String"
					},
					{
						"name": "Cancelled",
						"type": "String"
					},
					{
						"name": "CancellationCode",
						"type": "String"
					},
					{
						"name": "Diverted",
						"type": "String"
					},
					{
						"name": "CarrierDelay",
						"type": "String"
					},
					{
						"name": "WeatherDelay",
						"type": "String"
					},
					{
						"name": "NASDelay",
						"type": "String"
					},
					{
						"name": "SecurityDelay",
						"type": "String"
					},
					{
						"name": "LateAircraftDelay",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_data_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5516322282216910.10.azuredatabricks.net/",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntimeDatabricks",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntimeDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_plane_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "plane_data",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "tailnum",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "manufacturer",
						"type": "UTF8"
					},
					{
						"name": "issue_date",
						"type": "UTF8"
					},
					{
						"name": "model",
						"type": "UTF8"
					},
					{
						"name": "status",
						"type": "UTF8"
					},
					{
						"name": "aircraft_type",
						"type": "UTF8"
					},
					{
						"name": "engine_type",
						"type": "UTF8"
					},
					{
						"name": "year",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_carriers_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "carriers",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					},
					{
						"name": "Prop_4",
						"type": "UTF8"
					},
					{
						"name": "Prop_5",
						"type": "UTF8"
					},
					{
						"name": "Prop_6",
						"type": "UTF8"
					},
					{
						"name": "Prop_7",
						"type": "UTF8"
					},
					{
						"name": "Prop_8",
						"type": "UTF8"
					},
					{
						"name": "Prop_9",
						"type": "UTF8"
					},
					{
						"name": "Prop_10",
						"type": "UTF8"
					},
					{
						"name": "Prop_11",
						"type": "UTF8"
					},
					{
						"name": "Prop_12",
						"type": "UTF8"
					},
					{
						"name": "Prop_13",
						"type": "UTF8"
					},
					{
						"name": "Prop_14",
						"type": "UTF8"
					},
					{
						"name": "Prop_15",
						"type": "UTF8"
					},
					{
						"name": "Prop_16",
						"type": "UTF8"
					},
					{
						"name": "Prop_17",
						"type": "UTF8"
					},
					{
						"name": "Prop_18",
						"type": "UTF8"
					},
					{
						"name": "Prop_19",
						"type": "UTF8"
					},
					{
						"name": "Prop_20",
						"type": "UTF8"
					},
					{
						"name": "Prop_21",
						"type": "UTF8"
					},
					{
						"name": "Prop_22",
						"type": "UTF8"
					},
					{
						"name": "Prop_23",
						"type": "UTF8"
					},
					{
						"name": "Prop_24",
						"type": "UTF8"
					},
					{
						"name": "Prop_25",
						"type": "UTF8"
					},
					{
						"name": "Prop_26",
						"type": "UTF8"
					},
					{
						"name": "Prop_27",
						"type": "UTF8"
					},
					{
						"name": "Prop_28",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/landing_airports_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "airports_data",
						"fileSystem": "landing-zone"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					},
					{
						"name": "Prop_4",
						"type": "UTF8"
					},
					{
						"name": "Prop_5",
						"type": "UTF8"
					},
					{
						"name": "Prop_6",
						"type": "UTF8"
					},
					{
						"name": "Prop_7",
						"type": "UTF8"
					},
					{
						"name": "Prop_8",
						"type": "UTF8"
					},
					{
						"name": "Prop_9",
						"type": "UTF8"
					},
					{
						"name": "Prop_10",
						"type": "UTF8"
					},
					{
						"name": "Prop_11",
						"type": "UTF8"
					},
					{
						"name": "Prop_12",
						"type": "UTF8"
					},
					{
						"name": "Prop_13",
						"type": "UTF8"
					},
					{
						"name": "Prop_14",
						"type": "UTF8"
					},
					{
						"name": "Prop_15",
						"type": "UTF8"
					},
					{
						"name": "Prop_16",
						"type": "UTF8"
					},
					{
						"name": "Prop_17",
						"type": "UTF8"
					},
					{
						"name": "Prop_18",
						"type": "UTF8"
					},
					{
						"name": "Prop_19",
						"type": "UTF8"
					},
					{
						"name": "Prop_20",
						"type": "UTF8"
					},
					{
						"name": "Prop_21",
						"type": "UTF8"
					},
					{
						"name": "Prop_22",
						"type": "UTF8"
					},
					{
						"name": "Prop_23",
						"type": "UTF8"
					},
					{
						"name": "Prop_24",
						"type": "UTF8"
					},
					{
						"name": "Prop_25",
						"type": "UTF8"
					},
					{
						"name": "Prop_26",
						"type": "UTF8"
					},
					{
						"name": "Prop_27",
						"type": "UTF8"
					},
					{
						"name": "Prop_28",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy and Process flight data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy from source to landing zone",
				"activities": [
					{
						"name": "Copy Flight data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "input",
								"value": "Clean Airlines data"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Flight_data",
								"type": "DatasetReference",
								"parameters": {
									"year": "1988"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_flight_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Process Bronze Data",
						"description": "Copy raw data into bronze parquet table ",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Flight data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Carriers data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Airports Data",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Plane Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/satyam.kumar@rackspace.com/databricks-notebooks/process_bronze",
							"baseParameters": {
								"year": {
									"value": "@pipeline().parameters.year",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Carriers data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "input",
								"value": "Clean Airlines data"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Careers_details",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_carriers_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Airports Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "input",
								"value": "Clean Airlines data"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Airports",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_airports_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Plane Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "input",
								"value": "Clean Airlines data"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "plane_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "landing_plane_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Process Silver Data",
						"description": "Apply some basic filters on the raw data and upsert into delta table",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Process Bronze Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/satyam.kumar@rackspace.com/databricks-notebooks/process_silver"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Process Gold Data",
						"description": "Apply some aggregation on the silver data  and upsert into gold table. It will refresh gold table in each execution. ",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Process Silver Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/satyam.kumar@rackspace.com/databricks-notebooks/process_gold"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"year": {
						"type": "string",
						"defaultValue": "1988"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Flight_data')]",
				"[concat(variables('factoryId'), '/datasets/landing_flight_data')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]",
				"[concat(variables('factoryId'), '/datasets/Careers_details')]",
				"[concat(variables('factoryId'), '/datasets/landing_carriers_data')]",
				"[concat(variables('factoryId'), '/datasets/Airports')]",
				"[concat(variables('factoryId'), '/datasets/landing_airports_data')]",
				"[concat(variables('factoryId'), '/datasets/plane_data')]",
				"[concat(variables('factoryId'), '/datasets/landing_plane_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy raw files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "List Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "raw_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy Bulk files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "List Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('List Files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data to Landing zone",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "raw_files",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Landing_zone",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw_files')]",
				"[concat(variables('factoryId'), '/datasets/Landing_zone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Clean airline data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Airline data needs to be cleaned to remove some discrepancies",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Flight_data",
								"type": "DatasetReference"
							},
							"name": "CleanAirlinedata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CleanAirlineData",
								"type": "DatasetReference"
							},
							"name": "CleanAirlineDataSink"
						}
					],
					"transformations": [
						{
							"name": "FilteredAirlineData"
						},
						{
							"name": "FilterUnusedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Year as string,",
						"          Month as string,",
						"          DayofMonth as string,",
						"          DayOfWeek as string,",
						"          DepTime as string,",
						"          CRSDepTime as string,",
						"          ArrTime as string,",
						"          CRSArrTime as string,",
						"          UniqueCarrier as string,",
						"          FlightNum as string,",
						"          TailNum as string,",
						"          ActualElapsedTime as string,",
						"          CRSElapsedTime as string,",
						"          AirTime as string,",
						"          ArrDelay as string,",
						"          DepDelay as string,",
						"          Origin as string,",
						"          Dest as string,",
						"          Distance as string,",
						"          TaxiIn as string,",
						"          TaxiOut as string,",
						"          Cancelled as string,",
						"          CancellationCode as string,",
						"          Diverted as string,",
						"          CarrierDelay as string,",
						"          WeatherDelay as string,",
						"          NASDelay as string,",
						"          SecurityDelay as string,",
						"          LateAircraftDelay as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CleanAirlinedata",
						"FilterUnusedColumns filter(toInteger(Distance) > 0) ~> FilteredAirlineData",
						"CleanAirlinedata select(mapColumn(",
						"          Year,",
						"          Month,",
						"          DayofMonth,",
						"          DayOfWeek,",
						"          DepTime,",
						"          CRSDepTime,",
						"          ArrTime,",
						"          CRSArrTime,",
						"          UniqueCarrier,",
						"          FlightNum,",
						"          ActualElapsedTime,",
						"          CRSElapsedTime,",
						"          ArrDelay,",
						"          DepDelay,",
						"          Origin,",
						"          Dest,",
						"          Distance,",
						"          Cancelled,",
						"          Diverted",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FilterUnusedColumns",
						"FilteredAirlineData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CleanAirlineDataSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Flight_data')]",
				"[concat(variables('factoryId'), '/datasets/CleanAirlineData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CleanAirlineData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to clean airline data",
				"activities": [
					{
						"name": "Clean airline data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Clean airline data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CleanAirlinedata": {
										"year": "1988"
									},
									"CleanAirlineDataSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Clean airline data')]"
			]
		}
	]
}